{% extends "base.html" %}

{% block content %}
<div class="difficulty-selection">
    <h2>Выбор сложности примера</h2>

    {% set operations = {
    'sum': 'сложение',
    'min': 'вычитание',
    'mul': 'умножение',
    'crop': 'деление'
    } %}

    {% if name in operations %}
    <div class="difficulty-buttons">
        {% for level in [1, 2, 3] %}
        {% set levels = {1: 'Простой', 2: 'Средний', 3: 'Сложный'} %}
        <nav>
            <ul>
                <a href="/student_groups/{{ group.id }}/task/{{ name }}/{{ level }}">
                    {{ levels[level] }} пример на {{ operations[name] }}</a>
            </ul>
        </nav>

        {% endfor %}
    </div>
    {% endif %}
    <nav>
        <ul>
            <a class="btn btn-secondary back-btn" href="/student_groups/{{ group.id }}/task">
                Назад
            </a>
        </ul>
    </nav>
</div>
{% endblock %}