{% extends "base.html" %}
{% block content %}
<h2>Профиль пользователя</h2>
{% if user.avatar %}
<center>
    <img src="{{ user.avatar }}" alt="Аватар" class="img-avatar">
</center>
{% else %}
<h3>Аватар не загружен</h3>
{% endif %}
<h3>Фамилия: {{ user.surname }}</h3>
<h3>Имя: {{ user.name }}</h3>
<h3>Отчество: {{ user.patronymic }}</h3>
<h3>Email: {{ user.email }}</h3>
<h3>Роль: {{ 'Учитель' if user.teacher else 'Ученик' }}</h3>
<nav>
    <ul>
        <a href="{{ url_for('edit_profile') }}">Редактировать профиль</a>
    </ul>
</nav>
{% endblock %}