{% extends "base.html" %}
{% block content %}
<h1>{{ group.name }}</h1>
<nav>
    <ul>
        <li><a href="/student_groups/{{ group.id }}/task">Решать задачи</a></li>

    </ul>
</nav>
<h2>Участники группы:</h2>
<table class="table">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Баллы</th>
    </tr>
    </thead>
    <tbody>
    {% for member in members %}
    <tr>
        <td>{{ member.user.name }} {{ member.user.surname }}</td>
        <td>{{ member.points }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}