{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Выбор заданий</title>
</head>
<body>
<h2>Неравенства</h2>
<nav>
    <ul>
        <a href="/student_groups/{{ group.id }}/task/linear_inequation">Линейное неравенство. Метод интервалов</a>
    </ul>
</nav>
</br>
<h2>Уравнения</h2>
<nav>
    <ul>
        <a href="/student_groups/{{ group.id }}/task/module_equation">Уравнение с модулем</a>
        <a href="/student_groups/{{ group.id }}/task/irrational_equation">Иррациональное уравнение</a>
        <a href="/student_groups/{{ group.id }}/task/biquadratic_equation">Биквадратное уравнение</a>
        <a href="/student_groups/{{ group.id }}/task/quadratic_equation">Квадратное уравнение</a>
        <a href="/student_groups/{{ group.id }}/task/linear_equation">Линейное уравнение</a>
    </ul>
</nav>
</br>
<h2>Примеры</h2>
<nav>
    <ul>
        <a href="/student_groups/{{ group.id }}/task/sum">Пример на сложение</a>
        <a href="/student_groups/{{ group.id }}/task/min">Пример на вычитание</a>
        <a href="/student_groups/{{ group.id }}/task/mul">Пример на умножение</a>
        <a href="/student_groups/{{ group.id }}/task/crop">Пример на деление</a>
    </ul>
</nav>
</br>
<nav>
    <ul>
        <a href="/student_groups/{{ group.id }}">Вернуться в группу</a>
    </ul>
</nav>
</body>
{% endblock %}