<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор заданий</title>
</head>
<body>
<a class="navbar-brand" href="/student_groups/{{ group.id }}/task/square">Квадратное уравнение</a>
    <br />
    <br />
<a class="navbar-brand" href="/student_groups/{{ group.id }}/task/line">Линейное уравнение</a>
    <br />
    <br />
<a class="navbar-brand" href="/student_groups/{{ group.id }}/task/sum">Пример на сложение</a>
    <br />
    <br />
<a class="navbar-brand" href="/student_groups/{{ group.id }}/task/min">Пример на вычитание</a>
    <br />
    <br />
<a class="navbar-brand" href="/student_groups/{{ group.id }}/task/mul">Пример на умножение</a>
    <br />
    <br />
<a class="navbar-brand" href="/student_groups/{{ group.id }}/task/crop">Пример на деление</a>
<br />
<br />
<br />
<a class="navbar-brand" href="/student_groups/{{ group.id }}">Вернуться в группу</a>
</body>
</html>