{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Задание {{ title }}</h1>
<h2>Решите уравнение {{ task }}. (Балл за задание - {{ points }})</h2>

{% if title == 'Квадратное уравнение' and message != 'Верно. Продолжайте в том же духе.' %}
<h2>Инструкция по вводу ответа.</h2>
<h2>Если 2 решения, то запишите их через пробел в порядке возрастания.</h2>
<h2>Если 1 решение, то запишите его в ответ.</h2>
<h2>Дроби округлите до сотых. Разделитель для дробных чисел - точка.</h2>
<h2>Если решений нет, запишите в ответе строку: "Корней нет".</h2>

{% elif title == 'Линейное уравнение' and message != 'Верно. Продолжайте в том же духе.' %}
<h2>Инструкция по вводу ответа.</h2>
<h2>Дроби округлите до сотых. Разделитель для дробных чисел - точка.</h2>
<h2>В ответ запишите корень уравнения.</h2>

{% elif 'Пример' in title and message != 'Верно. Продолжайте в том же духе.' %}
<h2>Инструкция по вводу ответа.</h2>
<h2>В ответ запишите целое или дробное число (решение примера). Округлите до сотых. Разделитель - точка.</h2>
{% endif %}

<form action="" method="post">
    {% if message != 'Верно. Продолжайте в том же духе.' %}
    <form>
        {{ form.answer.label }}<br>
        {{ form.answer(class="form-control") }}<br>
        {% for error in form.answer.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}

        <center>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </center>

        <br/>
        <br/>
        <h2>{{message}}</h2>
    </form>
    {% else %}

    <body>

    <br/>
    <br/>
    <h2>{{message}}</h2>
    <br/>
    <br/>

    <h2>Решение: {{ title.split('(')[0].strip() if '(' in title else title }}</h2>
    <h2>{% if 'уравнение' in title %}Наше уравнение{% else %}Наш пример{% endif %}: {{ task }}</h2>

    {% for item in solution_log %}
    <h2>{{ item }}</h2>
    {% endfor %}
    </body>

    {% endif %}
</form>
<br/>
<br/>
<a class="btn btn-primary " href="/student_groups/{{ group.id }}/task">Назад</a>
</body>
{% endblock %}